.chatbar-header {
    top: 0;
    display: inline-flex;
    column-gap: 20px;
    align-content: end;
    align-items: end;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background: #afaaaa;
    justify-content: flex-end;
    box-shadow: 1px 4px 17px -2px rgba(0,0,0,0.34);
    -webkit-box-shadow: 1px 4px 17px -2px rgba(0,0,0,0.34);
    -moz-box-shadow: 1px 4px 17px -2px rgba(0,0,0,0.34);
}

.chatbar-footer {
    bottom: 0;
    padding: 5px;
    display: inline-flex;
    column-gap: 20px;
    width: 100%;
    padding-right: 10px;
    align-items: center;
}
    .chatbar-footer textarea {
        flex-grow: 1; /* Isso permite que a área de texto preencha o espaço disponível na largura */
    }

    /* Adicionei estilos para o ícone na área de texto (adjust conforme necessário) */
    .chatbar-footer i {
        margin-top: 5px;
        cursor: pointer;
    }

.chatbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: inherit;
    justify-content:space-between;
}

.chatbar-body{
    padding:10px;
    width:100%;
    height:100%;
    overflow:auto;
}


.chatbar-header,
.chatbar-footer {
    display: flex;
    width: 100%;
    position: relative;
}


