
::deep .list-group-item {
    align-content: flex-start !important
}

::deep .form-group {
    width: 100% !important
}

::deep .positioning-region, ::deep .vertical {
    width: 100% !important;
    max-height: 200px !important;
    flex-wrap: wrap !important;

}

::deep .listbox {
    z-index: 100 !important;
    color: #ffffff !important;
    font-weight: 500;
}

::deep .invalid svg {
    fill: #e95223 !important;
    color: #ffffff !important;
    font-weight: 500;
}

.apply-component ::deep fluent-card {
   background: linear-gradient(90deg, rgba(86, 6, 168, 1) 0%, rgba(138, 59, 194, 1) 39%, rgba(191, 74, 214, 1) 75%, rgba(236, 66, 204, 1) 100%);
   height: auto;
  /*background-color: white;*/
}

::deep .fluent-input-label, ::deep .rz-fieldset-toggler {
    color: #ffffff !important;
    font-weight: 500;
}

::deep [aria-label="required"] {
    color: #ffffff !important;
    font-weight: 500;
}

::deep .testform {
    padding: 20px!important;
}

::deep .testform ::deep div {
    padding: 20px !important;
}