

<div class="d-inline-flex w-100 justify-content-center gap-4 p-2 align-items-center" style="padding: 1.8rem !important; background-color: #9147B4; justify-content: start !important;">
    <h3 style="color: white;font-family:Vivo-font-bold; font-size: 20px;">@title</h3>
</div>