@namespace Shared_Razor_Components.VivoCustomComponents
@typeparam T

@using System.Globalization
@using Shared_Class_Vivo_Apps.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms;

<option value="@Option" id="@Id" style="@Style">@Text</option>
