@using Shared_Class_Vivo_Apps.Data
@using Shared_Class_Vivo_Apps.Models
@using System.Globalization
@using Shared_Class_Vivo_Apps.Services
@using Newtonsoft.Json
@using System.ComponentModel
@using BlazorBootstrap
@using Shared_Class_Vivo_Apps.Model_DTO

<div class="group unique-class">
    <input type="text" id="name" required class="unique-class" @bind="@linhaFidelizada">
    <label for="name" class="unique-class">LINHA FIDELIZADA</label>
    <div class="bar unique-class"></div>
</div>