@namespace Shared_Razor_Components.VivoCustomComponents
@typeparam T

@using System.IO.Compression;
@using Radzen.Blazor;
@using Microsoft.FluentUI.AspNetCore.Components;
@using Microsoft.JSInterop;
@using Shared_Static_Class.Models
@using Microsoft.AspNetCore.Components.Web

<div class="apply-component">
    <fieldset class="@( IsOpened ? "opened": "closed")" @onclick="IsValid">
        <legend @onclick=@(() => IsOpened = !IsOpened )>
            @Header
        </legend>
        @if (IsOpened)
        {
            @Body
        }
        else
        {
            @ClosedBody
        }
    </fieldset>
</div>