
.apply-component ::deep .icon-rating-area {
    display: inline-flex;
    justify-content: center;
    gap: 1px;
}

    .apply-component ::deep .icon-rating-area:has(.icon-rating:hover) .icon-rating:not(:hover) {
        opacity: 0.5 !important;
    }

    .apply-component ::deep .icon-rating-area:has(.icon-rating:hover) .icon-rating:hover {
        opacity: 1;
    }
