/* inicio style input */

.input-area {
    position: relative;
    min-height: 20px;
    height: auto;
    width: auto;
    min-width: 171.200px;
    margin-block: 15px;
    margin-inline: 20px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

::deep select {
    border: none !important;
    transition: all 1s linear;
    padding: 0;
    margin: 0;
    width: 100%;
}

    ::deep select:focus, ::deep select:active {
        border: none !important;
        transition: all 1s linear;
        outline: none;
    }

.input-area.valid.modified label {
    color: #617ad9;
}

    .input-area.valid.modified label::before {
        position: absolute;
        top: 0px;
        font-size: 10px;
        color: #c1c1c1;
        fill: #c1c1c1;
        left: -15px;
        content: '💜';
        transition: all 1s linear;
    }

.input-area.valid.modified,
.input-area.invalid.modified,
.input-area.invalid,
.input-area.valid {
    outline: none;
}

::deep select.valid,
::deep select.invalid,
::deep select.modified {
    border: none !important;
    outline: none !important;
}

::deep label[for] {
    transition: all 1s linear;
    position: absolute;
    left: 0;
    color: #b4b3b3;
}

.input-area:has(select:focus) label,
.input-area:has(select:active) label,
.input-area:has(select:not(:placeholder-shown)) label {
    top: -20px;
    font-size: 10px;
    color: #c1c1c1;
    left: 0;
    transition: all 1s linear;
}

.input-area.valid label,
.input-area.invalid label {
    top: -20px;
    font-size: 10px;
    color: #c1c1c1;
    left: 5px;
    transition: all 1s linear;
}
/*.input-area:not(input:focus) label
, .input-area:not(input:active)  label {
    top: 0;
    transition: all 1s linear;
}*/

.input-area .bar-rounded {
    position: absolute;
    border-radius: 0.5px;
    width: 110%;
    height: 100%;
    left: -10px;
    transition: all 1s linear;
    border: 1px solid #893aaf;
    border-radius: 4px;
    pointer-events:none;
}

::deep select:focus + .bar-rounded,
::deep select:active + .bar-rounded {
    animation: ChangeBarColor 1.5s linear forwards;
    height: 1.5px;
    border-radius: 0.75px;
}

.input-area.invalid.modified .bar-rounded,
.input-area.invalid .bar-rounded {
    background-image: none;
    border: 1px solid red;
}

::deep .input-area:has(select) label {
    top: -20px;
    font-size: 10px;
    color: #c1c1c1;
    left: 5px;
    transition: all 1s linear;
}
/*
::deep select:focus + .bar-rounded,
::deep select:active + .bar-rounded {
    background-image: linear-gradient(0deg, #617ad9 0%, #9f32ff 70%);
    animation: ChangeBarColor 1.5s linear forwards;
    height: 1.5px;
    border-radius: 0.75px;
}

.input-area.valid.modified .bar-rounded {
    background-image: linear-gradient(0deg, #617ad9 0%, #9f32ff 70%);
}

.input-area.invalid.modified .bar-rounded,
.input-area.invalid .bar-rounded {
    background-image: none;
    background-color: red;
}*/



.input-area .bar {
    position: absolute;
    bottom: -1px;
    height: 1px;
    border-radius: 0.5px;
    width: 100%;
    transition: all 1s linear;
    background-color: #617ad9;
}

::deep select:focus + .bar,
::deep select:active + .bar {
    background-image: linear-gradient(0deg, #617ad9 0%, #9f32ff 70%);
    animation: ChangeBarColor 1.5s linear forwards;
    height: 1.5px;
    border-radius: 0.75px;
}

.input-area.valid.modified .bar {
    background-image: linear-gradient(0deg, #617ad9 0%, #9f32ff 70%);
}

.input-area.invalid.modified .bar,
.input-area.invalid .bar {
    background-image: none;
    background-color: red;
}

@keyframes ChangeBarColor {
    0% {
        width: 100%;
    }

    20% {
        width: 10%;
    }

    25% {
        width: 30%;
    }

    50% {
        width: 70%;
    }

    100% {
        width: 100%;
    }
}

.text-danger {
    font-family: Vivo-font-light !important;
    font-size: 10px !important;
}

.icon-select {
    position: absolute;
    right: 0;
    bottom: 25%;
    margin: auto;
    height: auto;
    width: auto;
    margin-inline: auto;
}

.input-area:has(select:focus) .icon-select {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
}

.input-area:not(select:focus) .icon-select {
    transition: all 0.5s ease-out;
}

.input-area ::deep .form-control:focus {
    border: none !important;
    box-shadow: none !important;
}