@namespace Shared_Razor_Components.VivoCustomComponents

<div class="apply-component" id="@Hash">
    <section style="@Style" id="@Id" class="@CssClass filtering ">
        <div class="chart">
            <div id="donut">
                <span></span>
            </div>
        </div>
    </section>
</div>
