@using Blazorise
@using Radzen.Blazor
@using Radzen
@using Shared_Static_Class.Model_DTO
@using Shared_Static_Class.Converters
@using Shared_Static_Class.Models


<ul class="list-group-flush">
    <li class="list-group-item">
        <Div Flex="Flex.InlineFlex.JustifyContent.Between.AlignItems.Center" Gap="Gap.Is3" Width="Width.Is100">
            <div Style="width: 100%; max-width: 600px">
                <RadzenStack AlignItems="Radzen.AlignItems.Center" Orientation="Radzen.Orientation.Horizontal" >
                    <Blazorise.Tooltip Text="Caso o usuário que você está procurando não apareça verifique se ele existe e é do consumer">
                        <RadzenIcon Icon="warning_amber" IconColor="@Radzen.Colors.Warning" />
                    </Blazorise.Tooltip>
                    <label class="dropdown-item">
                        Operadores disponíveis
                    </label>
                </RadzenStack>
                <RadzenDropDown Data=@(EnableOperadores)
                                Change="@(args => NewOperador = ((IQueryable<ACESSOS_MOBILE_DTO>)args).ToList())"
                                TValue="List<ACESSOS_MOBILE_DTO>" FilterAsYouType FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                                TextProperty="DISPLAY_NOME" ClearSearchAfterSelection
                                Multiple Chips AllowFiltering Separator=";" AllowClear="false"
                                AllowSelectAll="false" Style="width: 100%; max-width:600px">
                    <Template Context="analista">
                        <Image Style="width:30px" Border="Blazorise.Border.RoundedCircle"
                               Source="@("data:image/png;base64," + SharedConverter.ConvertFileToString(analista.UserAvatar))">
                        </Image>
                        <span>
                            @analista.DISPLAY_NOME
                        </span>
                    </Template>
                </RadzenDropDown>
            </div>
            <div Style="width: 100%; max-width: 600px; display: flex; justify-content: center;">
                <Blazorise.Button Color="Color.Primary" Clicked="() => Dialogservice.Close(NewOperador)">
                    Adicionar
                </Blazorise.Button>
            </div>
        </Div>
    </li>
</ul>
