
.apply-component ::deep {
    width: 50vw;
    height: 100%;
}

    .apply-component ::deep section {
        display: inline-flex;
        flex-flow: row;
        gap: 7px;
        justify-content: start;
    }

    .apply-component ::deep .list-itens {
        display: inline-flex;
        width: 100%;
        height: 100%;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

        .apply-component ::deep .list-itens p, .apply-component ::deep .list-itens .nome {
            text-align: center;
            max-width: 90%;
            margin: auto;
            font-size: 15px;
        }

        .apply-component ::deep .list-itens label, .apply-component ::deep .list-itens .cargo {
            text-align: end;
            width: 100%;
            color: aliceblue;
            font-size: 12px;
        }
