.apply-component ::deep .fluentcard-body {
    display: inline-flex;
    flex-flow: column wrap;
    gap: 10vh;
    width: auto;
    max-width: 100%;
}

.apply-component ::deep .principal-filters {
    height: auto;
    display: inline-flex;
    gap: 30px;
    padding-inline: 30px;
    width: 100%;
    align-content: end;
    justify-content: end;
}

    .apply-component ::deep .principal-filters > div {
        height: auto;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 0.5px solid #CBC4C4;
        box-shadow: 0px 4px 4px rgba(104, 98, 98, 0.7);
        border-radius: 10px;
        width: auto;
    }

.apply-component ::deep .flex-stack-route {
    height: auto;
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
    padding: 0;
    width: 100%;
    grid-auto-rows: 1fr 3fr;
}

    .apply-component ::deep .flex-stack-route .page-filters {
        position: relative;
        display: flex;
        flex-flow: column;
        gap: 30px;
    }

        .apply-component ::deep .flex-stack-route .page-filters #page-filters-header {
            font-family: Vivo-font-bold;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 58px;
            color: #706868;
        }

        .apply-component ::deep .flex-stack-route .page-filters .filter-card-title {
            font-family: Vivo-font-light;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 58px;
            color: #706868;
        }

        .apply-component ::deep .flex-stack-route .page-filters > div {
            min-height: 20vh;
            height: auto;
            box-sizing: border-box;
            background: #FFFFFF;
            border: 0.5px solid #CBC4C4;
            box-shadow: 0px 4px 4px rgba(104, 98, 98, 0.7);
            border-radius: 10px;
            width: 100%;
        }

    .apply-component ::deep .flex-stack-route .card-area {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        align-content: start;
        justify-content: center;
    }

    .apply-component ::deep .flex-stack-route .card-produto {
        position: relative;
        border-radius: 20px;
        height: 400px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 0.5px solid #CBC4C4;
        box-shadow: 0px 4px 4px rgba(104, 98, 98, 0.7);
        border-radius: 10px;
        max-width: 270px;
    }

    .apply-component ::deep .flex-stack-route .stack-route {
        position: relative;
        font-family: Vivo-font;
        display: block;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        margin: 0;
        min-height: 300px;
        border-radius: 20px;
    }

        .apply-component ::deep .flex-stack-route .stack-route.disabled .nav-button {
            background: transparent;
            box-shadow: none;
            width: 60px;
            height: 60px;
        }

        .apply-component ::deep .flex-stack-route .stack-route.disabled img {
            opacity: 0.7;
        }

    .apply-component ::deep .flex-stack-route fluent-card {
        transition: all 0.7s linear;
    }

        .apply-component ::deep .flex-stack-route fluent-card:hover {
            transform: scale(1.05,1.05);
            transition: all 0.7s ease-in;
        }

    .apply-component ::deep .flex-stack-route:has(fluent-card:hover) fluent-card:not(:hover) {
        transform: scale(0.98,0.98);
        opacity: 0.6;
        transition: all 0.7s ease;
    }

    .apply-component ::deep .flex-stack-route .card-produto .button-navigation {
        position: absolute;
        bottom: 10px;
        margin: auto;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

        .apply-component ::deep .flex-stack-route .card-produto .button-navigation button {
            border: none;
            border-radius: 5px;
            color: white;
            background-color: #9d62ba;
            width: 60%;
        }

    .apply-component ::deep .flex-stack-route .stack-route .nav-button {
        box-shadow: 1px 0px 12px 1px rgba(0, 0, 92, 0);
        border-radius: 50%;
        display: flex;
        top: 5px;
        right: 5px;
        position: absolute;
        width: 40px;
        height: 40px;
        background: transparent;
        padding: 8px;
        z-index: 1;
        margin: auto;
    }

    .apply-component ::deep .flex-stack-route .stack-route .nav-button-position {
        display: flex;
        top: 12px;
        left: 10px;
        position: absolute;
        width: 45px;
        justify-content: center;
        height: 50px;
        align-items: center;
        padding: 0px 0 13px 0;
        z-index: 1;
        margin: auto;
        font-family: 'Vivo-font';
        font-size: 2vmin;
    }

        .apply-component ::deep .flex-stack-route .stack-route .nav-button-position.trophy {
            flex-flow: column;
        }

        .apply-component ::deep .flex-stack-route .stack-route .nav-button-position:not(.trophy) {
            background-image: url(images/reward.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
        }

    .apply-component ::deep .flex-stack-route .stack-route aside {
        margin: 0;
        padding: 0;
        height: 70%;
    }

        .apply-component ::deep .flex-stack-route .stack-route aside img {
            border-radius: 20px;
            object-fit: fill;
            max-height: 275px;
            min-height: 250px;
        }

.apply-component ::deep .stack-route div p {
    color: black;
    font-family: Vivo-font-light;
    text-align: center;
}

    .apply-component ::deep .stack-route div p:first-child {
        /*text-align: center;*/
        color: black;
        font-family: Vivo-font-bold;
        font-size: 17px !important;
        text-shadow: 1px 0px 12px 1px rgba(0, 0, 92, 0);
        letter-spacing: 1.5px !important;
    }

.apply-component ::deep .flex-stack-route fluent-card {
    min-height: 200px;
    height: 65vh;
    max-height: 65vh;
    padding: 0;
}

.apply-component ::deep .produto-card-opened {
    width: 90%;
    transition: width 2s ease-out, all 0.7s linear !important;
}

    .apply-component ::deep .produto-card-opened .stack-route {
        display: inline-flex;
        width: 100%;
        height: 100%;
    }

        .apply-component ::deep .produto-card-opened .stack-route .card {
            background-color: #4c1d57;
            color: black;
            min-width: 250px;
            width: auto;
            max-width: 300px;
        }

        .apply-component ::deep .produto-card-opened .stack-route aside {
            height: auto;
        }

            .apply-component ::deep .produto-card-opened .stack-route aside img {
                height: 100%;
                max-height: none;
            }

        .apply-component ::deep .produto-card-opened .stack-route .nav-button {
            transform: rotate(180deg);
            transition: all 0.7s linear !important;
        }

        .apply-component ::deep .produto-card-opened .stack-route aside {
            height: 100%;
            width: 435px;
        }

.apply-component ::deep .produto-card-opened {
    width: 90%;
}

.apply-component ::deep .product-description {
    padding: 13px;
    width: 100%;
}

.apply-component ::deep .produto-card-opened .product-description {
    width: 75%;
}

@media (min-width: 640px) {
    .apply-component ::deep .flex-stack-route fluent-card:not(.produto-card-opened) {
        width: 90% !important;
    }

    .apply-component ::deep .flex-stack-route .produto-card-opened {
        height: 35vh;
        max-height: 35vh;
    }

    .apply-component ::deep .produto-card-opened .product-description {
        width: 45%;
    }
}

@media (min-width: 768px) {
    .apply-component ::deep .produto-card-opened .product-description {
        width: 60%;
    }

    .apply-component ::deep .flex-stack-route .produto-card-opened {
        height: 55vh;
        max-height: 55vh;
    }

    .apply-component ::deep .flex-stack-route {
        gap: 30px;
        padding: 20px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr 4fr;
    }

        .apply-component ::deep .flex-stack-route + * {
            width: 100%;
        }

        .apply-component ::deep .flex-stack-route fluent-card:not(.produto-card-opened) {
            width: 35% !important;
        }
}

@media (min-width: 1024px) {
    .apply-component ::deep .flex-stack-route fluent-card:not(.produto-card-opened) {
        width: 45%;
        max-width: 320px;
    }

    .apply-component ::deep .produto-card-opened .product-description {
        width: 75%;
    }
}

::deep > .right-gradient {
}

.apply-component ::deep .both-gradient #shadow-root .scroll-area .scroll-view {
    border-radius: 20px;
}
