@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components;
@using Microsoft.Extensions.Hosting;

<PageTitle>Usuário não autorizado</PageTitle>

<body>
    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">

        <nav style="background-color: #9147B4; color:white!important;width:100%!important;display: flex;justify-content: flex-end;">

            <div style="width: 55%;display: flex;justify-content: space-between;">

                <div style="font-size: 23px;font-weight: 600;padding: 3% 0% 3% 0%;">
                    ATENÇÃO
                </div>

                <div style="display: flex;align-items: end;padding: 0% 2% 1% 0%;">
                    Automação NE
                </div>

            </div>
            
        </nav>

        @*  <div>
        <img src="/icone-vivox.png" alt="Logo" class="logo_unhauthorized">
        </div>

        <div class="logo_text">
        VIVO X
        </div> *@
    
            <div style="width: 80%; height: 100%;">
            <div style="display:flex; justify-content:center;margin-top: 6%;">
                    <h3 class="" style="color: #454545;font-weight: 600; display: flex; justify-content: space-evenly; align-items: end; width: 50%;">
                    <svg width="280" height="300" viewBox="0 0 280 300" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 80px; height: 80px;">
                        <path opacity="0.5" d="M87.5 75.0001C87.5 49.5 110.25 30 140 30C169.75 30 192.5 49.5 192.5 75.0001V105H227.5V75.0001C227.5 33 189 0 140 0C91 0 52.5 33 52.5 75.0001V105H87.5V75.0001ZM166.25 187.5C166.25 175.5 154 165 140 165C126 165 113.75 175.5 113.75 187.5C113.75 193.5 117.25 199.5 122.5 204V225C122.5 234 129.5 240 140 240C150.5 240 157.5 234 157.5 225V204C162.75 199.5 166.25 193.5 166.25 187.5Z" fill="#81817E" />
                        <path d="M227.5 105H52.5C22.75 105 0 124.5 0 150V255C0 280.5 22.75 300 52.5 300H227.5C257.25 300 280 280.5 280 255V150C280 124.5 257.25 105 227.5 105ZM157.5 204V225C157.5 234 150.5 240 140 240C129.5 240 122.5 234 122.5 225V204C117.25 199.5 113.75 193.5 113.75 187.5C113.75 175.5 126 165 140 165C154 165 166.25 175.5 166.25 187.5C166.25 193.5 162.75 199.5 157.5 204Z" fill="#FFEB0A" />
                    </svg>

                        Acesso Não Autorizado
                    </h3>
                </div>

                <div style="display:flex; justify-content:center;">
                    <p class="" style="display:flex; justify-content: center; padding: 5%; color: #454545!important;font-weight: 200!important;font-size: 18px !important; ">Caso seja um erro comunique ao seu gestor ou solicite acesso abaixo.</p>
                </div>

                <div class="" style="display:flex; justify-content:center;">
                    @* <a style="font-size: 17px; background: #9147B4 !important;" href="@(IsDevelopment ? "http://localhost:5211/register" : "http://brtdtbgs0090sl:8081/register")" class="btn btn-primary-unhautorized text-button">Página de Registro</a> *@
                    <a style="font-size: 17px; background: #9147B4 !important;" href="/register" class="btn btn-primary-unhautorized text-button">Página de Registro</a>
                </div>
            </div>     

        @* <div class="footer_Unauthorized">
        Automação NE
        </div> *@

    </div>
</body>

@code {

    bool IsDevelopment { get; set; } = false;
    [Inject] IHostingEnvironment Env { get; set; }


    protected override async Task OnInitializedAsync()
    {
        IsDevelopment = Env.EnvironmentName.ToLower() == "development" ? true : false;

    }
}
