@using Microsoft.AspNetCore.Components.Web

<PageTitle>Usuário não autorizado</PageTitle>

<body >
    <div class="page page_Unauthorized">
        <main class="main_unathourized">
            <article class="content px-4 Article-Unauthourized">
                <div>
                    <img src="/icone-vivox.png" alt="Logo" class="logo_unhauthorized">
                </div>

                <div class="logo_text">
                   VIVO X
                </div>
              
                <div class="container card_alert">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-12">
                            <div class="card_unathourized">
                                <div class="card_header">
                                    <h3 class="card-title text-unautorized"><i class="fas fa-exclamation-triangle text-warning "></i> Usuário Não Autorizado</h3>
                                </div>

                                <div>
                                    <p class="text-unautorized p-unautorizated">Caso seja um erro comunique ao seu gestor ou solicite acesso abaixo.</p>
                                </div>

                                <div class="card-footer">
                                    <a href="/register" class="btn btn-primary-unhautorized text-button">Página de Registro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </article>
            <div class="footer_Unauthorized">
                 Automação NE
            </div>
        </main> 
    </div>
</body>

